# Ignore all files and folders
/*

# Whitelist the engine folders
!/source
!/include
!/interface
!/inline
!/cmake

# Whitelist the build and distribution files
!/CMakeLists.txt
!/LICENSE.txt
!/README.md
!/.gitignore
!/install-debug.sh
!/install-release.sh

# Remove all .DS_Store files
.DS_Store